<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Agents</key>
	<dict>
		<key>LocalFileStorageAgent</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>StorePath</key>
			<string>~/Screenshots/</string>
		</dict>
		<key>RemoteRESTAPIStorageAgent</key>
		<dict>
			<key>FileParamName</key>
			<string>upload[file]</string>
			<key>Method</key>
			<string>POST</string>
			<key>Path</key>
			<string>/uploads</string>
			<key>Scheme</key>
			<string>http</string>
			<key>Host</key>
			<string>i.4pcbr.com</string>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>SFTPStorageAgent</key>
		<dict>
			<key>WebScheme</key>
			<string>http</string>
			<key>WebPath</key>
			<string></string>
			<key>WebHost</key>
			<string></string>
			<key>StoragePath</key>
			<string></string>
			<key>Password</key>
			<string></string>
			<key>Enabled</key>
			<true/>
			<key>Host</key>
			<string></string>
			<key>User</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
