<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Agents</key>
	<dict>
		<key>LocalFileStorageAgent</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>StorePath</key>
			<string>~/Screenshots/</string>
			<key>HasMenuAction</key>
			<true/>
		</dict>
		<key>RemoteRESTAPIStorageAgent</key>
		<dict>
			<key>FileParamName</key>
			<string>upload[file]</string>
			<key>Method</key>
			<string>POST</string>
			<key>Path</key>
			<string>/uploads</string>
			<key>Scheme</key>
			<string>http</string>
			<key>Host</key>
			<string>i.4pcbr.com</string>
			<key>Enabled</key>
			<true/>
			<key>HasMenuAction</key>
			<true/>
		</dict>
    <key>DropBoxStorageAgent</key>
		<dict>
			<key>Destination</key>
			<string>/Screenshots/</string>
			<key>Enabled</key>
			<true/>
      <key>HasMenuAction</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
